body{
	color:#00f700;
	background-color: #cfcfcf;
	background-size: cover;
}

.navbar-dark .navbar-nav .nav-link, 
.navbar-dark .navbar-header .navbar-brand{
	color: #67c8ff;
}

/*@include media-breakpoint-up(sm){
	.main{
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}
}*/

/*only inside the base file*/
.shelter-content{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	margin-top: 65px;
}

/*clickables*/
.btn{
	border:solid #000;
	color:#67c8ff;
}

/*error pages*/
.error-body{
	margin-top: 50px;
}

/*content center inside home/index*/

.top-col{
	padding-top: 50px;
    padding-bottom: 50px;
	color: #67c8ff;
	text-align: center;
	font-size: 12px;
	background: url('../img/penguin.jpg') no-repeat center center;
	background-size: cover;
	height: 368px;
	box-shadow: -6px -6px 20px #0f0f0f;
	border-radius: 10px;
	margin-bottom: 50px;
}

.intro-message h3, h5{
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	padding: 40px auto;
	align-content: center;
}
.intro-divider{
	width: inherit;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

/*on the homepage*/
.link-to-post{
	color: #67c8ff;
	font-family: Tahoma, serif;
	font-stretch: 1px;
	padding: 10px;
}

.post-pre-empt{
	color: #000000;
	padding: 20px;
}

/*the first post*/
.post-1:first-child{
	/*margin-top: 30px;*/
	color: red;
}